@tailwind base;
@tailwind components;
@tailwind utilities;

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

hr {
  border-top: none;
  border-bottom: 1px solid;
  border-color: #0003;
  margin: 2rem 0;
}
._statForType_1nqem_9 {
  margin-top: 1rem;
  background-color: #2a2a2a;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
}

._difuni_div
{
  color: #17c0ec;
  cursor: pointer;  
}

._b_corSienna
{
  color: Sienna;
}